{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School of Science</title>
    <link rel="stylesheet" href="{% static 'Account.css' %}">
</head>
<body>
    <nav class="navbar">
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Logout">
        </form>
        <input onclick="location.href='{% url 'register' %}'" type="button" value="Register Courses">
    </nav>


    <div class="registered">
        <strong>
        {% if user %}
        <h1>Welcome Back {{ user }} </h1>
        {% endif  %}
        <h2>These are your current registered classes</h2>
        {% if courses %}
            {% for course in courses %}
                <li>{{ course }}</li>
            {% endfor %}
        {% endif %}
        </strong>
    </div>
</body>

</html>