{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School of Science</title>
    <link rel="stylesheet" href="{% static 'Index.css' %}">
</head>
<body class="frontpagebody">
    <nav class="navbar">
        <a href="/sign/" class="login-button">Login</a>
    </nav>
    <div>
        <div>
            <h1>Mercy University</h1>
        </div>
        <div>
            <h2>Made by Mavericks for Mavericks</h2>
        </div>
        <div class="main">
            <div class="text" >
                <h3>Programs & Degrees</h3>
                <br>
                <strong><p>We have a variety of degrees, programs, certificates, and areas of study to prepare you for the career you’ve always dreamed of. Explore our list of options for undergraduate and graduate opportunities to start your career today!</p></strong>
            </div>
            <br>
            <div class="courses-container">
                <div class="course">Accounting</div>
                <div class="course">Business Administration</div>
                <div class="course">Computer Science</div>
                <div class="course">Design and Animation</div>
                <div class="course">English</div>
                <div class="course">Family Nurse Practitioner</div>
            </div>
        </div>


        <div class="registerbox">
            <a href="/create/" class="register-link">REGISTER NOW!</a>
        </div>

    </div>
</body>
</html>